{{#wrap "html" contactpage=true}}

  <section class="contact_head">
    <h1>Get in touch, get involved</h1>
    <h1>Help make things happen</h1>
    <!--div>
      <a href="#" target="_blank" class="fab fa-instagram" title="Follow us on Instagram"></a>
      <a href="#" target="_blank" class="fab fa-facebook-f" title="Follow us on Facebook"></a>
    </div-->
  </section>

  <section class="contact">
    <h1>Share your thoughts</h1>
    
    <form>
      <div id="form_generalError"></div>
      <div id="formField_name">
        <input type="text" name="name">
        <label>Name</label>
      </div>
      <div id="formField_email">
        <input type="text" name="email">
        <label>Email *</label>
      </div>
      <div id="formField_whereHear">
        <input type="text" name="whereHear">
        <label>Where did you hear about us?</label>
      </div>
      <div id="formField_message">
        <textarea name="message"></textarea>
        <label>Message *</label>
      </div>
      <div>
        <button type="button">Send</button>
      </div>
    </form>

  </section>

{{/wrap}}