{{#wrap "html"}}
  <section class="mission">
    <p>visual arts can inspire, create unity, provide a sense of pride and open up communities</p>
  </section>

  <section class="vision">
    <h1>Our Vision</h1>
    <p><em>BOPS</em> are a small team of Hangleton based creative thinkers and doers looking to improve our area and bring some much needed colour, joy and inspiration to the streets of our suburb.</p>
    <p>We want to engage the local and wider community with visual arts that everyone can enjoy.</p>
  </section>
  
  <section class="vision-image just-image"></section>

  <section class="approach">
    <h1>Our Approach</h1>
    <p>The ‘love local, enjoy local’ aesthetic is now even more important than ever before, promoting this concept and giving something back to the local community benefits everyone.</p>
    <p>Working with local Artists and Hangleton &amp; Knoll businesses to create permenant art installations and trails that aim to improve and uplift the suburb streets. Street furniture, signage and spaces for leisure can all be enhanced by colour.</p>
  </section>

  <section class="projects">
    <h1>Our Projects</h1>
    <p><a href="projects.html">Find out more</a></p>
    <p><a href="projects.html"><i class="arrow fas fa-arrow-right"></i></a></p>
    
  </section>

  <section class="team">
    <h1>The Team</h1>
    <div>
      <p><em>Melanie Sramek-Bennett</em> is a freelance Graphic Designer and Art Director with 20+ years experience bringing brands to life. Creating logos, dancing with colour and juggling typefaces are just the beginning… creating happy spaces, improving shop fronts, fabricating grottos, painting sculptures, designing patterns and anything in between.</p>
      <p>She believes the visual arts can inspire, uplift and improve the world around us. Great design and unexpected art should be accessible to all and has huge benefits for everyone in the community.</p>
    </div>
    <img src="img/gfx/team.png" alt="paper chain people holding hands">
    <div>
      <p><em>Nicole Monney</em> has over 25 years' experience working in the voluntary sector in positions that have spanned frontline delivery through to programme coordination, chief executive and consultancy roles; with a long history of establishing multi-agency and cross sector partnerships.</p>
      <p>Holding qualifications in Youth &amp; Community Work and International Health Promotion, social justice and social change are guiding principles.</p>
    </div>
  </section>

  <section class="contact">
    <h1>Get in touch, get involved</h1>
    <h1>Help make things happen</h1>
    <p><a href="mailto:hello@bopsart.uk">hello@bopsart.uk</a></p>
    <div>
      <a href="#" target="_blank" class="fab fa-instagram" title="Follow us on Instagram"></a>
      <a href="#" target="_blank" class="fab fa-facebook-f" title="Follow us on Facebook"></a>
    </div>
  </section>

{{/wrap}}