{{#wrap "html" hasmap=true}}

  <section class="projects page-header">
    <h1>Our Projects</h1>
    <p><em>Bench</em>art</p>
    <p><i class="fas fa-arrow-down arrow"></i></p>
  </section>

  <section class="project-intro">
    <p><em>BenchArt</em> revitalises park, bus stop  and community space benches creating an engaging, permanent trail that brings colour, positivity and joy to practical street furniture that is used by everyone.</p>
  </section>

  <section class="bench-image">
    <img src="img/img/bench-before.jpg" class="bench before" alt="Bench before revitalisation">
    <img src="img/gfx/arrow-under.png" class="bench-arrow" alt="">
    <img src="img/img/bench-after.png" class="bench after" alt="Brightly decorated bench after revitalisation">
  </section>

  <section class="impact">
    <h1>The Impact</h1>
    <p>Bringing colour, culture and vibrancy into the suburbs makes areas like Hangleton and Knoll feel included and part of our creative and positive city culture.</p>
    <p>Giving the local community positive, uplifting works of art that can be engaged with on different levels, by the whole community and beyond.</p>
    <p>Creating an identity for H&amp;K beyond ‘the suburban’ by creating a trail for people from  all areas to explore and enjoy, encouraging fitness, health and wellbeing.</p>
  </section>

  <section class="locations">
    <h1>Suggested Locations</h1>
    <p>We have made some suggested locations for replacing existing, neglected benches in Hangleton and Knoll, that are well used by the community but  also suggestions for new bench locations.</p>
    <p><i class="fas fa-arrow-down arrow"></i></p>
  </section>

  <section class="map"><div id="map" class="map"></div></section>

  <section class="process">
    <h1>The Process</h1>
    <ol class="picture-list">
      <li><img src="img/img/process-01.jpg" alt="Bench diagram template"></li>
      <li><p>Create digital bench template and brief for local Artists to download</p></li>
      
      <li class="arrow1"><img src="img/gfx/arrow-under.png" alt=""></li>
      
      <li class="textimage">Open</li>
      <li><p>Open the submission process, allowing any local artist from any background to submit a design via email / website. Advertise via local resources, TV, Radio, Digital, Social.</p></li>
      
      <li class="arrow2"><img src="img/gfx/arrow-over.png" alt=""></li>
      
      <li><img src="img/img/process-03.jpg" alt="shortlist icon"></li>
      <li><p>Short list submissions and contact Artists, allocating each winner with a bench location</p></li>
      
      <li class="arrow3"><img src="img/gfx/arrow-under.png" alt=""></li>
      
      <li><img src="img/img/process-04.jpg" alt="decorated bench"></li>
      <li><p>Artists given a deadline for creating their bench ready for collection and Installation. We could also consider artist working on benches in situ.</p></li>
    </ol>
  </section>

  <section class="theart">
    <h1>The Art</h1>
    <p>We have two suggestions for the transformation of our benches:</p>
    <ul class="scribble-list">
      <li>Commissioning <em>local artists</em> from differing disciplines to create a bench in their ‘style’.  For example: illustration, fine art, graphic art, street art etc.</li>
      <li>Approaching companies such as <em>ReWorked</em> and <em>Gomi</em> who repurpose unrecyclable consumer waste into new products, creating pieces of  art in their own right.</li>
    </ul>
  </section>

  <section class="theart-image just-image"></section>

  <section class="makeithappen">
    <h1>Can you help make it happen</h1>
    <ul class="scribble-list">
      <li>We are interested in talking to organisations that share our ethos and <em>could provide funding</em> to get our project up and running.</li>
      <li>We welcome interest from local building or corporate companies or organisations who could offer <em>over arching sponsorship.</em></li>
      <li>We would love to talk to local businesses of all shapes and sizes, interested in <em>sponsoring  individual benches</em>.</li>
    </ul>
  </section>

  <section class="contact benchproject">
    <h1>Get in touch, get involved</h1>
    <h1>Help make things happen</h1>
    <p><a href="mailto:hello@bopsart.uk">hello@bopsart.uk</a></p>
    <div>
      <a href="#" target="_blank" class="fab fa-instagram" title="Follow us on Instagram"></a>
      <a href="#" target="_blank" class="fab fa-facebook-f" title="Follow us on Facebook"></a>
    </div>
  </section>

{{/wrap}}