/*****************************************************
 * Variables
 *****************************************************/
/*
  Media query breakpoints
*/
/* phone <-> tablet */
/* tablet <-> small desktop */
/* small desktop <-> full desktop */
:root {
  --base-text-size: 6px;
  --strapline-text-size: 6rem;
  --benchart-strapline-text-size: 4rem;
  --section-height: 54rem;
  --section-hpad: 7rem;
  --section-vpad: 10rem;
  --h1-text-size: 3.4rem;
  --h1-underpadding: 5.5rem;
  --p-text-size: 2.2rem;
  --p-underpadding: 3rem;
  --weight-normal: 300;
  --weight-bold: 500;
  --weight-bolder: 800;
  --base-fonts: "Raleway", sans-serif;
  --base-text-colour: black;
  --alt-text-colour: white;
  --yellow-bright: rgb(254,199,46);
  --yellow-dull: rgb(232,171,0);
  --turquoise: rgb(0,219,185);
  --pink-bright: rgb(255,0,177);
  --pink-dull: rgb(186,0,129);
  --blue: rgb(31,174,229);
  --grey: rgb(87,87,87);
  --green: rgb(65,173,115);
  --green-dark: rgb(50,129,86);
}
@media (min-width: 768px) {
  :root {
    --base-text-size: 8px;
    --strapline-text-size: 7.5rem;
    --benchart-strapline-text-size: 4.8rem;
  }
}
@media (min-width: 1024px) {
  :root {
    --base-text-size: 10px;
  }
}
@media (min-width: 768px) {
  :root {
    --section-hpad: 10rem;
  }
}
@media (min-width: 1024px) {
  :root {
    --section-hpad: 16rem;
  }
}

/*****************************************************
 * General Styles
 *****************************************************/
html, body, div, header, footer, main, section, article, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, pre, code, img, blockquote, q, canvas, form, label, fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: top;
  font-family: var(--base-fonts);
  font-size: var(--base-text-size);
  font-weight: var(--weight-normal);
  color: --base-text-colour;
}

h1 {
  padding: 0 0 var(--h1-underpadding);
  font-size: var(--h1-text-size);
  text-transform: uppercase;
  font-weight: var(--weight-bolder);
}

p {
  padding: 0 0 var(--p-underpadding);
  font-size: var(--p-text-size);
  letter-spacing: 0.02rem;
  line-height: 130%;
  font-weight: var(--weight-bold);
}

em {
  font-style: normal;
  font-weight: var(--weight-bolder);
}

a {
  color: var(--alt-text-colour);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*****************************************************
 * Page Structure
 *****************************************************/
header {
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
header img {
  height: 25rem;
}

main section.team div, main > section {
  position: relative;
  min-height: var(--section-height);
  padding: var(--section-vpad) var(--section-hpad) calc(var(--section-vpad)/2);
}

main > section {
  clear: both;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
main > section.just-image {
  position: relative;
  overflow: hidden;
}
main > section.just-image::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}

footer {
  clear: both;
  padding: calc(var(--section-vpad)/2) var(--section-hpad);
  background-color: var(--yellow-dull);
  color: var(--alt-text-colour);
}
footer p {
  padding-bottom: 0;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}
footer a {
  font-weight: var(--weight-bolder);
}

/*******************
*  Helper styles
*/
.picture-list {
  list-style: none;
  margin: 0;
  padding: 0 6rem;
  display: grid;
  grid: "image1 text1" "arrow1 arrow1" "image2 text2" "arrow2 arrow2" "image3 text3" "arrow3 arrow3" "image4 text4"/1fr 1fr;
  grid-auto-flow: row;
  gap: 2rem 0;
}
@media (min-width: 768px) {
  .picture-list {
    grid: "image1 arrow1 image2 arrow2 image3 arrow3 image4" "text1  arrow1 text2  arrow2 text3  arrow3 text4"/5fr 1fr 5fr 1fr 5fr 1fr 5fr;
    grid-auto-flow: column;
  }
}
.picture-list img {
  width: 100%;
}
.picture-list p {
  padding: 0 1rem;
  font-size: 1.7rem;
  text-align: left;
  font-weight: var(--weight-normal);
}
.picture-list .textimage {
  background-color: var(--green-dark);
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: var(--weight-bold);
  display: flex;
  align-items: center;
  justify-content: center;
}
.picture-list .arrow1 {
  display: none;
  overflow: visible;
  z-index: 10;
  width: 300%;
  grid-area: arrow1;
}
@media (min-width: 768px) {
  .picture-list .arrow1 {
    display: block;
  }
}
.picture-list .arrow1 img {
  transform: translate(-30%, 100%);
}
.picture-list .arrow2 {
  display: none;
  overflow: visible;
  z-index: 10;
  width: 300%;
  grid-area: arrow2;
}
@media (min-width: 768px) {
  .picture-list .arrow2 {
    display: block;
  }
}
.picture-list .arrow2 img {
  transform: translate(-30%, -20%);
}
.picture-list .arrow3 {
  display: none;
  overflow: visible;
  z-index: 10;
  width: 300%;
  grid-area: arrow3;
}
@media (min-width: 768px) {
  .picture-list .arrow3 {
    display: block;
  }
}
.picture-list .arrow3 img {
  transform: translate(-30%, 100%);
}

.scribble-list {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .scribble-list {
    flex-flow: row nowrap;
  }
}
.scribble-list li {
  flex: 1 1 0;
  padding: 5rem;
  font-size: 2.3rem;
  line-height: 3rem;
  background-image: url(../img/scribble-grey.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

/*******************
*  Sections
*/
main {
  /* Home page */
  /* Project page */
}
main section.mission {
  height: auto;
  padding: 27rem 10rem 10rem;
  background-image: url("../img/header-home.jpg");
}
main section.mission p {
  padding: 0;
  color: var(--alt-text-colour);
  font-size: var(--strapline-text-size);
  letter-spacing: 0.25rem;
  line-height: 105%;
}
main section.vision {
  background-color: var(--yellow-bright);
}
main section.vision-image::before {
  background-image: url("../img/vision.jpg");
}
main section.approach {
  background-color: var(--turquoise);
}
main section.projects {
  padding-top: 29rem;
  background-image: url("../img/projects-bench.jpg");
}
main section.projects h1, main section.projects p {
  padding: 0;
  color: var(--alt-text-colour);
  text-transform: uppercase;
}
main section.projects .arrow {
  padding-top: 2rem;
  font-size: 3rem;
}
main section.team {
  padding: 0;
  color: var(--alt-text-colour);
}
main section.team img, main section.team h1 {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
}
main section.team h1 {
  top: var(--section-vpad);
}
main section.team div {
  padding-top: calc(var(--section-vpad) + var(--h1-text-size) + var(--h1-underpadding));
  background-color: var(--pink-bright);
}
main section.team img {
  transform: translate(0, -50%);
}
main section.team div:nth-of-type(2) {
  background-color: var(--pink-dull);
}
main section.contact {
  background-color: var(--yellow-bright);
  padding-top: calc(1.5 * var(--section-vpad));
}
main section.contact h1 {
  padding: 0;
}
main section.contact p {
  padding: 3rem 0 5rem;
  font-size: 3rem;
  text-transform: uppercase;
}
main section.contact a {
  color: black;
}
main section.contact a.fab {
  width: 3rem;
  margin: 0.2rem;
  padding: 1rem;
  border-radius: 3rem;
  font-size: 3rem;
  color: var(--yellow-bright);
  background: white;
}
main section.contact a.fab:hover {
  text-decoration: none;
}
main section.project-intro {
  background-color: var(--blue);
  color: white;
}
main section.project-intro p {
  font-size: var(--benchart-strapline-text-size);
  font-weight: var(--weight-normal);
  letter-spacing: 0.05rem;
  line-height: 110%;
}
main section.bench-image {
  margin: 0;
  padding: 0;
  font-size: 0;
  min-height: 0;
}
main section.bench-image img.bench {
  width: 50%;
  display: inline-block;
}
main section.bench-image img.bench.before {
  float: left;
}
main section.bench-image img.bench-arrow {
  position: absolute;
  width: 25%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main section.impact {
  background-color: var(--yellow-bright);
}
main section.locations {
  background-color: white;
  color: var(--grey);
}
main section.process {
  padding: calc(var(--section-vpad)/2) 2rem;
  background-color: var(--green);
  color: white;
}
main section.theart {
  padding-top: calc(var(--section-vpad)/2);
  background-color: var(--grey);
  color: white;
}
main section.theart-image::before {
  background-image: url("../img/artists.png");
}
main section.makeithappen {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--pink-bright);
  color: white;
}
main section.makeithappen .scribble-list li {
  background-image: url(../img/scribble-pink.png);
}
main section.contact.benchproject {
  color: white;
  background-image: url("../img/orange-door.jpg");
  background-position: top;
}
main section.contact.benchproject a {
  color: white;
}
main section.contact.benchproject a.fab {
  color: var(--yellow-dull);
}